body{
	background-image:url(https://image.freepik.com/free-vector/_24061-247.jpg);
}
h2{
	text-align: center;
}
#div1{

	display: flex;
	background-image:url(http://ilyakhasanov.ru/images/background/61.png);
	flex-direction:row;
	justify-content: space-around;
p{
	font-size: 70px;
}